body {
  font-family:Arial, Helvetica, sans-serif;
}

.newCourse .field label {
  display: block;
}

.teacher .field label {
  display: block;
}

.subject .field label {
  display: block;
}

/* Temporary fix for menu bug */
.p-menuitem.p-focus > .p-menuitem-content:not(:hover) {
  background: transparent !important;
}